################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/week2/RecruitCatturannu/.vs/RecruitCatturannu/FileContentIndex/d1ced866-b2c0-44cd-b02f-715250608645.vsidx
