################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RecruitCatturannu/.vs/RecruitCatturannu/FileContentIndex/160effe5-42e0-49b6-80f7-0e136b25b7b8.vsidx
/RecruitCatturannu/.vs/RecruitCatturannu/FileContentIndex/4805e59f-c671-4ab5-83d9-fd7877bab6c1.vsidx
/RecruitCatturannu/.vs/RecruitCatturannu/FileContentIndex
