@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style="font-family:Cambria; color:black;"></body>
    <style>
        h1 {
            color: brown;
            font-size: x-large;
        }

        h2 {
            color: coral;
            font-size: xx-large;
        }
    </style>

    <div class="text-center">
        <h1 class="display-4">Welcome to Jumbo-Juice</h1>
    </div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
