@page
@model recruitcatturannu.Pages.About_usModel
@{
}
	<style>
		hr {
			padding: 20;
			margin: 5px;
			border: 30px;
		}

		h1, h2, h3, h4 {
			padding: 00;
			margin: 5px;
		}

		div {
			text-align: center;
		}

		table {
			border: 5px,solid;
			border-collapse: collapse;
			spacing: 5px;
			padding: 20;
			padding-bottom: 1;
			margin: 5px;
		}
	</style>
	
		<div>
			<h1><u>Neetu Turan</u></h1>
			<h3>Master of Science-Information System</h3>
			<img src="https://media.licdn.com/dms/image/v2/D4D03AQHiwuOXwQuzrg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1697288529588?e=1731542400&v=beta&t=PgUnV96J3oPZUvH_oHKwy5T3NWgrQbFnP-ED-YTZOOQ" alt="Neetu Turan"
				 style="width:250px;height:200px;">
		</div>
		<hr>
		<hr>
		<h3><u><b>Why I Chose the MSIS Program</h3></b></u>
		<p>The MSIS program is what I need to enter the real world after a perfect amalgam of higher degrees that I have.<br> It provides the right blend of technical and managerial skills required to excel in the field of Information Systems.</p>
		<hr>
		<h3><u>Current Class Schedule</h3></u>
		<table>
			<tr>
				<th>Course NO.</th>
				<th>Course Name</th>
				<th>Day</th>
				<th>Time</th>
			</tr>
			<tr>
				<td>IS-7020</td>
				<td>System Analysis and Design</td>
				<td>Monday-Wednesday</td>
				<td>9:00-11:00 a.m</td>
			</tr>
			<tr>
				<td>IS-7012</td>
				<td>Web dev with .Net</td>
				<td>Mon-Wed </td>
				<td>9:00-11:00 A.M</td>
			</tr>
			<tr>
				<td>IS-7030</td>
				<td>databse Modeling</td>
				<td>tue-thrs </td>
				<td>3:30-5:30 P.M</td>
			</tr>
			<tr>
				<td>BANA-7025</td>
				<td>Data Wrangling with Python</td>
				<td>tue-thru </td>
				<td>6:00-10:oo P.M</td>
			</tr>
			<tr>
				<td>BA-7077</td>
				<td>Career Management</td>
				<td>Friday </td>
				<td>2:30pm</td>
			</tr>
			<tr>
				<td>ACCT-7000</td>
				<td>Accounting</td>
				<td>week </td>
				<td>Online</td>
			</tr>
		</table>
		<p><h3><b><u>Objective</b></h3></p></u>
		<p>I am passionate about using data to solve real-world problems and enhance learning experiences. <br>My objective is to go deep in the Data Science domain, where I can leverage my expertise and contribute to impactful project.<br></p>
		<p>The career option i am cosidering is :</p>
		<ul>
			<li>Data Analytics</li>
			<li>Data Consultant</li>
			<li>Data Engineer </li>
		</ul>
		<p><h3><b><u>Strengths</b></h3></p></u>
		<ul>
			<li>Analytical skills</li>
			<li> Ability to work in a team</li>
			<li> Flexible</li>
			<li> Detail-oriented</li>
		</ul>
		<p><h3><b><u>HObbies/Interests</u></b></h3></p>
		<ul>
			<li>Hiking</li>
		</ul>

