@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Neetu_Dev_Data</h1>
    <h3 class="display-4"><i>Empowering Your Business with Data-Driven Solutions</i></h3>
    <p>
        <img height="50" width="80" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" alt="Instagram Logo" />
        <a href="https://www.instagram.com/">Data Wizard</a>
    </p>
    <p>
        <img height="50" width="80" src="https://blogsgeek.com/wp-content/uploads/2015/06/facebook-logo.jpg" alt="Facebook Logo" />
        <a href="https://www.facebook.com/login.php/">Tech Savvy</a>
    </p>
</div>

<p>
    <h5><i>Welcome to Neetu_Dev_Data</i></h5>
    At Dev_Data, we specialize in transforming raw data into actionable insights that drive business success. Our team of experienced data scientists, analysts, and engineers work collaboratively to provide comprehensive data solutions tailored to meet the unique needs of each client.
</p>

<div class="text-center">
    <h4>Why Choose Neetu_Dev_Data?</h4>
</div>
<div class="row">
    <div class="col">Expertise: Our team has a deep understanding of data science and industry-specific challenges.</div>
    <div class="col">Customization: We tailor our solutions to fit your business goals and requirements.</div>
    <div class="col">Innovation: We leverage the latest technologies to stay ahead of the curve.</div>
</div>

<br />
<br />

<div class="text-center">
    <h4>Services Offered</h4>
</div>
<div class="row">
    <div class="col">Data Engineering:<br /> Build robust data pipelines and infrastructure to ensure seamless data flow.</div>
    <div class="col">Data Analytics:<br /> Uncover patterns and trends to make informed business decisions.</div>
    <div class="col">Machine Learning:<br /> Implement advanced algorithms to predict outcomes and automate processes.</div>
    <div class="col">Business Intelligence:<br /> Develop interactive dashboards and reports for real-time data visualization.</div>
</div>

<br />

<div class="text-center">
    <h4>Industries We Serve</h4>
</div>
<div class="row">
    <div class="col">
        <h6><i>Finance:</i></h6>
        Enhance risk management, fraud detection, and customer insights.
    </div>
    <div class="col">
        <h6><i>Healthcare:</i></h6>
        Improve patient outcomes through predictive analytics and personalized care.
    </div>
    <div class="col">
        <h6><i>Retail:</i></h6>
        Optimize inventory management, customer segmentation, and sales forecasting.
    </div>
</div>

<br />
<br />

<div class="container mt-5">
    <div class="card" style="width: 76rem;">
        <div class="card-body" style="background-color: lavender;">
            <h5 class="card-title">Customer Testimonial</h5>
            <p class="card-text">"The company focused on our precise hiring requirements and customized its services to align with our strategies."</p>
        </div>
    </div>
</div>

<h5>Address:</h5>
<img src="https://images.pexels.com/photos/269077/pexels-photo-269077.jpeg" alt="Office Location" style="height: 100px; width: 100px;">
<address>1543 Mason, Ohio 454389</address>

<div class="text-center">
    <h5>Contact Us</h5>
    <dl>
        <dt>Call us: 513-889-6734</dt>
        <dt>Email us: turannu@mail.uc.edu</dt>
    </dl>
</div>


