@page
@model RecruitCatturannu.Pages.teamModel
@{
    <h1><font-style : Center> Welcome</font-style></h1>
	<h1> My Team Page</h1>
	
}
<body>
    <div>
        <div class="text-center">
            <h1><b><u>Meet our Team</u></b></h1>
            <div class="row">
               <div class="col">
                <img src="https://media.licdn.com/dms/image/v2/D4D03AQHiwuOXwQuzrg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1697288529588?e=1731542400&v=beta&t=PgUnV96J3oPZUvH_oHKwy5T3NWgrQbFnP-ED-YTZOOQ" alt="Neetu Turan"
                 style="width:250px;height:200px;">
            <h5 style="color: rgb(12, 129, 110);"><b>Neetu Turan- CEO of happy Bakery</b></h5>
            <p>I make major corporate decisions, manage overall operations and resources . Communicating, on behalf of the Company with shareholders, and the public.</p>
            </div>
            <div class="col">
                    <img src=" https://media.licdn.com/dms/image/v2/C5603AQEQHSElpj6r5g/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1656085159477?e=1731542400&v=beta&t=6V1nGQnSoM5YpjfIrFmsBA2PCIAtecTXPz2HwaoKacw" style="   width:250px;height=200px;" />
            <h5 style="color: rgb(12, 129, 110);"> <b>Bhupinder Singh - Marketing Director</b></h5>
            <p>He handles packaging and business cards.He is also responsible for staffing as well. </p>
            </div>
            <div class="col">
            <img src="https://www.looper.com/img/gallery/the-hole-in-andys-backstory-on-the-office-that-you-never-noticed/intro-1622558498.jpg"width="250px"  height="200px" />"
            <h5 style="color: rgb(12, 129, 110);"> <b>Andy Bernard- Associate Director</b></h5>
            <p>He oversee the company's promotion and advertising efforts to drive sales and build brand awareness.</p>
        </div>
        </div>
</body>